<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="index-main">
      <section class="seccion">
        <h1 class="title">Ofertas</h1>
        <div class="container">
          <% for(let i = 0;i < ofertas.length;i++ ){ %>
          <div class="juego-container">
            <img
              class="img-juego"
              src="/images/products/<%= ofertas[i].img_prod %>"
              alt="img-juego"
            />
            <div class="desc-box">
              <a
                href="/products/detail/<%= ofertas[i].id_producto %>"
                class="titulo-juego">
                <%= ofertas[i].nombre + ' - ' + ofertas[i].plataformas.nombre %>
              </a>
              <% if(ofertas[i].cant_desc > 0) { %>
                <p class="oferta">
                  <%= ofertas[i].cant_desc %>% <i class="fa-solid fa-tag"></i>
                </p>
                <p class="precio">
                  $<%= (ofertas[i].precio - (ofertas[i].precio * (ofertas[i].cant_desc / 100))).toFixed(2) %>
                </p>
              <% } else { %>
                <p class="precio">$<%= (ofertas[i].precio).toFixed(2) %></p>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </section>
      <section class="seccion">
        <h1 class="title">Novedades</h1>
        <div class="container">
          <% novedades.forEach((novedad) => { %>
          <div class="juego-container">
              <img
                class="img-juego"
                src="images/products/<%= novedad.img_prod %>"
                alt="img-juego"
              />
              <div class="desc-box">
                <a href="/products/detail/<%= novedad.id_producto %>" class="titulo-juego"><%= novedad.nombre + " - " + novedad.plataformas.nombre %></a>
                <% if(novedad.cant_desc > 0) { %>
                  <p class="oferta">
                    <%= novedad.cant_desc %>% <i class="fa-solid fa-tag"></i>
                  </p>
                  <p class="precio">
                    $<%= (novedad.precio - (novedad.precio * (novedad.cant_desc / 100))).toFixed(2) %>
                  </p>
                <% } else { %>
                  <p class="precio">$<%= (Number(novedad.precio)).toFixed(2) %></p>
                <% } %>
              </div>
          </div>
          <% }) %>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>

    <script src="/js/menu.js"></script>
  </body>
</html>
