<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="create-main">
      <div class="create-header">
        <img class="header-logo" src="/images/gz-logo.png" alt="logo" />
      </div>
      <div class="create-container">
        <h1 class="create-title">Crear</h1>
        <div class="errores_div">
          <ul class="ul_errores_div">
            
          </ul>
        </div>
        <form
          action="/products/create"
          class="create-form"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="field">
            <label class="label" for="nombre">Juego</label>
            <input
              class="input name_input"
              id="nombre"
              type="text"
              name="nombre"
              placeholder="Inserte un nombre..."
              
            />
          </div>
          <div class="field">
            <label class="label" for="precio">Precio</label>
            <input
              class="input precio_input"
              type="number"
              id="precio"
              maxlength="7"
              minlength="1"
              max="99999"
              min="0"
              step="any"
              name="precio"
              placeholder="Introduzca el valor del juego..."
             
            />
          </div>
          <div class="field">
            <label class="label" for="descuento">Descuento</label>
            <input
              id="descuento"
              class="input"
              type="number"
              maxlength="3"
              min="0"
              max="100"
              name="descuento"
              placeholder="Introduzca el porcentaje de descuento (opcional)"
              value="0"
            />
          </div>
          <div class="field">
            <label class="label" for="plataforma">Plataforma</label>
            <select
              name="plataforma"
              required
              id="plataforma"
              size="4"
            >
              <% for(let j = 0; j < plataforma.length ; j++){ %>
              <option value="<%= plataforma[j].id_plataforma %>">
                <%=plataforma[j].nombre %>
              </option>
              <% } %>
            </select>
          </div>
          <div class="field">
            <label class="label" for="tag">Categorías</label>
            <select name="tag" required id="tag">
              <% for(let i = 0; i < categoria.length ; i++){ %>
              <option value="<%=categoria[i].id_categoria %>">
                <%=categoria[i].nombre %>
              </option>
              <% } %>
            </select>
          </div>
          <div class="field">
            <label class="label" for="imagen">Imagen</label>
            <input class="input file_input" type="file" name="imagen" id="imagen" />
          </div>
          <div class="detail">
            <label for="detalle" class="label">Descripción</label>
            <textarea
            class="input descripcion_input"
              id="detalle"
              name="detalle"
              cols="30"
              rows="10"
              placeholder="Introduzca una descripcion del juego.."
            ></textarea>
          </div>
          <button class="crear-button" type="submit">Crear</button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
    <script src="/js/createProduct.js"></script>
  </body>
</html>
