<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="create-main">
      <div class="create-header">
        <img class="header-logo" src="/images/gz-logo.png" alt="logo" />
      </div>
      <div class="create-container">
        <h1 class="create-title">Crear</h1>
        <div class="errores-container">
          <ul class="errores"></ul>
        </div>
        <form
          action="/products/create"
          class="create-form"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="field">
            <label class="label" for="nombre">Juego</label>
            <input
              class="input"
              id="nombre"
              type="text"
              name="nombre"
              placeholder="Inserte un nombre..."
              value="<%= locals.old && old.nombre ? old.nombre : '' %>"
            />
            <% if(locals.errores && errores.nombre) { %>
              <p class="error-field"><%= errores.nombre.msg %></p>
            <% } %>
          </div>
          <div class="field">
            <label class="label" for="precio">Precio</label>
            <input
              class="input"
              type="number"
              id="precio"
              maxlength="7"
              minlength="1"
              max="99999"
              min="0"
              step="any"
              name="precio"
              placeholder="Introduzca el valor del juego..."
              value="<%= locals.old &&  old.precio ? old.precio : 0 %>"
            />
            <% if(locals.errores && errores.precio) { %>
              <p class="error-field"><%= errores.precio.msg %></p>
            <% } %>
          </div>
          <div class="field">
            <label class="label" for="descuento">Descuento</label>
            <input
              id="descuento"
              class="input"
              type="number"
              maxlength="3"
              min="0"
              max="100"
              name="descuento"
              placeholder="Introduzca el porcentaje de descuento (opcional)"
              value="<%= locals.old && old.descuento ? old.descuento : 0 %>"
            />
            <% if(locals.errores && errores.descuento) { %>
              <p class="error-field"><%= errores.descuento.msg %></p>
            <% } %>
          </div>
          <div class="field">
            <label class="label" for="plataforma">Plataforma</label>
            <select name="plataforma" size="5" id="plataforma">
              <% if (locals.old && old.plataforma) { %>
                <% for(let i = 0;i < plataformas.length;i++) { %> 
                  <% if(old.plataforma == plataformas[i].id_plataforma) { %>
                    <option value="<%= plataformas[i].id_plataforma %>" selected>
                      <%=plataformas[i].nombre %>
                    </option>
                  <% } else { %>
                    <option value="<%= plataformas[i].id_plataforma %>">
                      <%=plataformas[i].nombre %>
                    </option>
                  <% } %> 
                <% } %>
              <% } else { %>
                <% for( let i = 0; i < plataformas.length; i++ ) { %>
                  <option value="<%= plataformas[i].id_plataforma %>">
                    <%=plataformas[i].nombre %>
                  </option>
                <% } %>
              <% } %>
            </select>
            <% if(locals.errores && errores.plataforma) { %>
              <p class="error-field"><%= errores.plataforma.msg %></p>
            <% } %>
          </div>
          <div class="field">
            <label class="label" for="tag">Categorías</label>
            <select name="tag" multiple id="tag">
              <% if (locals.seleccionadas && locals.categorias) { %>
                <% seleccionadas.forEach((seleccionada) => { %>
                  <option value="<%= seleccionada.id_categoria %>" selected><%= seleccionada.nombre %></option>
                 <% }) %>
              <% } %>
              <% categorias.forEach((categoria) => { %>
               <option value="<%= categoria.id_categoria %>"><%= categoria.nombre %></option>
              <% }) %>
            </select>
            <% if(locals.errores && errores.tag) { %>
              <p class="error-field"><%= errores.tag.msg %></p>
            <% } %>
          </div>
          <div class="field-img">
            <label class="label" for="imagen">Imagen</label>
            <% if (locals.old && locals.imagen &&old.nombre ) { %>
              <img class="img" src="/images/products/<%= imagen %>" alt="<%= old.nombre %>">
            <% } else { %>
              <img class="img" src="/images/products/204.jpg" alt="imagenProducto">
            <% } %>
            <input
              class="input"
              type="file"
              name="imagen"
              id="imagen"
            />
            <% if(locals.errores && errores.imagen) { %>
              <p class="error-field"><%= errores.imagen.msg %></p>
            <% } %>
          </div>
          <div class="detail">
            <label for="detalle" class="label">Descripción</label>
            <textarea
              class="input"
              id="detalle"
              name="detalle"
              cols="30"
              rows="10"
              placeholder="Introduzca una descripcion del juego.."
            ><%= locals.old && old.detalle ? old.detalle : ''%></textarea>
            <% if(locals.errores && errores.detalle) { %>
              <p class="error-field"><%= errores.detalle.msg %></p>
            <% } %>
          </div>
          <button class="crear-button" type="submit">Crear</button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
      <script src="/js/imgViewProduct.js"></script>
      <script src="/js/createProductValidator.js"></script>
  </body>
</html>
