<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="edit-main">
      <div class="edit-header">
        <img class="header-logo" src="/images/gz-logo.png" alt="logo" />
      </div>
      <div class="edit-container">
        <h1 class="edit-title">Editar</h1>
        <div class="errores-container">
          <ul class="errores"></ul>
          <% if (errores) { %>
            <% for(let error in errores) { %>
              <li class="error"><%= errores[error].msg %></li>
            <% } %>
          <% } %>
        </div>
        <form
          action="/products/edit/<%= producto != null ? producto.id_producto : id%>?_method=PUT"
          class="edit-form"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="field">
            <label class="label" for="nombre">Juego</label>
            <input
              class="input"
              id="nombre"
              type="text"
              name="nombre"
              value="<%= old != null ? old.nombre : producto.nombre %>"
              placeholder="Inserte un nombre..."
            />
          </div>
          <div class="field">
            <label class="label" for="precio">Precio</label>
            <input
              class="input"
              type="number"
              step="any"
              id="precio"
              maxlength="7"
              minlength="1"
              max="99999"
              min="0"
              value="<%= old != null ? old.precio : producto.precio %>"
              name="precio"
              placeholder="Introduzca el valor del juego..."
            />
          </div>
          <div class="field">
            <label class="label" for="descuento">Descuento</label>
            <input
              id="descuento"
              class="input"
              type="number"
              name="descuento"
              min="0"
              max="100"
              maxlength="3"
              minlength="1"
              value="<%= old != null ? old.descuento : producto.cant_desc %>"
              placeholder="Introduzca el descuento (opcional)"
            />
          </div>
          <div class="field">
            <label class="label" for="plataforma">Plataformas</label>
            <select name="plataforma" size="5" id="plataforma">
              <% for(let i = 0;i < plataformas.length;i++) { %> 
                <% if (old != null) { %>
                  <% if(old.plataforma == plataformas[i].id_plataforma) { %>
                    <option value="<%= plataformas[i].id_plataforma %>" selected>
                      <%= plataformas[i].nombre %>
                    </option>
                  <% } else { %>
                    <option value="<%= plataformas[i].id_plataforma %>">
                      <%= plataformas[i].nombre %>
                    </option>
                  <% } %> 
                <% } else { %>
                  <% if(producto != null && producto.id_plataforma == plataformas[i].id_plataforma) { %>
                    <option value="<%= plataformas[i].id_plataforma %>" selected>
                      <%= plataformas[i].nombre %>
                    </option>
                  <% } else { %>
                    <option value="<%= plataformas[i].id_plataforma %>">
                      <%= plataformas[i].nombre %>
                    </option>
                  <% } %> 
                <% } %>
              <% } %>
            </select>
          </div>
          <div class="field">
            <label class="label" for="tag">Categoría</label>
            <select name="tag" multiple id="tag">
              <% if (old != null && seleccionadas != null) { %>
                <% seleccionadas.forEach((seleccionada) => { %>
                  <option value="<%= seleccionada.id_categoria %>" selected><%= seleccionada.nombre %></option>
                 <% }) %>
              <% } else if (producto != null){ %>
                <% producto.categorias.forEach((categoria) => { %>
                  <option value="<%= categoria.id_categoria %>" selected><%= categoria.nombre %></option>
                 <% }) %>
              <% } %>
              <% categorias.forEach((categoria) => { %>
               <option value="<%= categoria.id_categoria %>"><%= categoria.nombre %></option>
              <% }) %>
            </select>
          </div>
          <div class="field-img">
            <label class="label" for="imagen">Imagen</label>
            <% if (producto != null) { %>
              <img class="img" src="/images/products/<%= producto.img_prod %>" alt="<%= producto.nombre %>">
            <% } else if (imagen != null) { %>
              <img class="img" src="/images/products/<%= imagen %>" alt="<%= old.nombre %>">
            <% } else { %>
              <img class="img" src="/images/products/204.jpg" alt="<%= old != null ? old.nombre : producto.nombre %>">
            <% } %>
            <input
              class="input"
              type="file"
              name="imagen"
              id="imagen"
            />
          </div>
          <div class="detail">
            <label for="detalle" class="label">Descripción</label>
            <textarea
              required
              id="detalle"
              name="detalle"
              cols="30"
              rows="10"
              placeholder="Introduzca una descripcion del juego.."
            ><%= old != undefined ? old.detalle : producto.descripcion %></textarea>
          </div>
          <button class="editar-button" type="submit">Guardar cambios</button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
    <script src="/js/editProductValidator.js"></script>
    <script src="/js/imgView.js"></script>
  </body>
</html>
