<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="edit-main">
      <div class="edit-header">
        <img class="header-logo" src="/images/gz-logo.png" alt="logo" />
      </div>
      <div class="edit-container">
        <h1 class="edit-title">Editar</h1>
        <form
          action="/products/edit/<%=productsToEdit.id_producto%>?_method=PUT"
          class="edit-form"
          method="post" 
          enctype="multipart/form-data"
        >
          <div class="field">
            <label class="label" for="nombre">Juego</label>
            <input
              class="input"
              id="nombre"
              type="text"
              name="nombre"
              value="<%= productsToEdit.nombre %>  "
              placeholder="Inserte un nombre..."
              required
            />
          </div>
          <div class="field">
            <label class="label" for="precio">Precio</label>
            <input
              class="input"
              type="text"
              id="precio"
              maxlength="5"
              value="<%= productsToEdit.precio %>"
              name="precio"
              placeholder="Introduzca el valor del juego..."
              required
            />
          </div>
          <div class="field">
            <label class="label" for="descuento">Descuento</label>
            <input
            id="descuento"
              class="input"
              type="text"
              name="descuento"
              value="<%= productsToEdit.descuento %>"
              placeholder="Introduzca el descuento (opcional)"
            />
          </div>
          <div class="field">
            <label class="label" for="plataforma">Plataformas</label>
            <select name="plataforma" size="3" multiple required
            id="plataforma">
            <% for(let j=0;j < plataforma.length;j++){ %> 
              <% if(productsToEdit.plataformas.id_plataforma==plataforma[j].id_plataforma){ %> 
                <option value="<%=plataforma[j].id_plataforma %>" selected><%=plataforma[j].nombre %></option>
              <% }else{ %>
                <option value="<%=plataforma[j].id_plataforma %>"><%=plataforma[j].nombre %></option>
                <% } %>  
            <% } %> 
            </select>
          </div>
          <div class="field">
            <label class="label" for="tag">Categoría</label>
            <select name="tag" size="3" multiple required id="tag">
              <% for(let x=0;x < categoria.length;x++){ %> 
              
                <option value="<%=categoria[x].id_categoria%>"><%=categoria[x].nombre %></option>

                <% } %>  
            </select>
          </div>
          <div class="field">
            <label class="label" for="imagen">Imagen</label>
            <input class="input" type="file" name="imagen" id="imagen" value="<%= productsToEdit.image %>"/>
          </div>
          <div class="detail">
            <label for="detalle" class="label">Descripción</label>
            <textarea
              required
              id="detalle"
              name="detalle"
              cols="30"
              rows="10"
              placeholder="Introduzca una descripcion del juego.."
            ><%= productsToEdit.descripcion %></textarea>
          </div>
          <button class="editar-button" type="submit">Editar</button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
