<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('../partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('../partials/header') %>

    <!-- Contenido principal -->
    <main class="profile-main">
      <h1 class="profile-title">Perfil</h1>
      <div class="profile-container">
        <div class="img-container">
          <img
          src="/images/users/<%= usuario.img_usuario %>"
          alt="usuario"
          class="user-img"
          />
        </div>
        <div class="profile-info">
          <div class="tag">
            <h1 class="tag-name">Nombre/s</h1>
            <p class="tag-info"><%= usuario.nombre %></p>
          </div>
          <div class="tag">
            <h1 class="tag-name">Apellido/s</h1> 
            <p class="tag-info"><%= usuario.apellido %></p>
          </div>
          <div class="tag">
            <h1 class="tag-name">Correo</h1>
            <p class="tag-info"><%= usuario.correo %></p>
          </div>
          <div class="tag">
            <h1 class="tag-name">Contraseña</h1>
            <p class="tag-info">**********</p>
          </div>
          <div class="buttons">
            <button class="edit-btn">Cambiar contraseña</button>
            <form
              action="/users/profile"
              method="post"
              class="logout-container"
            >
              <button class="logout-btn" type="submit">Cerrar sesión</button>
            </form>
          </div>
          <div class="password-container">
            <form action="/users/change-password" method="POST" class="password-form">
              <div class="form-group">
                <label class="form-label" for="currentPassword">Contraseña actual</label>
                <input
                  type="password"
                  class="input"
                  id="currentPassword"
                  name="currentPassword"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="newPassword">Nueva contraseña</label>
                <input
                  type="password"
                  class="input"
                  id="newPassword"
                  name="newPassword"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="confirmPassword">Confirmar contraseña</label>
                <input
                  type="password"
                  class="input"
                  id="confirmPassword"
                  name="confirmPassword"
                  required
                />
              </div>
              <button type="submit" class="change-btn">Cambiar</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    
    <%- include('../partials/footer') %>
    
    <script src="/js/menu.js"></script>
    <script src="/js/changePassword.js"></script>
  </body>
</html>
