<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('../partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('../partials/header') %>

    <main class="profile-main">
      <h1 class="profile-title">
        Perfil
      </h1>
      <div class="profile-container">
        <img src="/images/users/<%= usuario.img_usuario%>" alt="usuario" class="user-img" />
        <div class="profile-info">
          <h3 class="tag">Nombre/s: <%= usuario.nombre %></h3>
          <h3 class="tag">Apellido/s: <%= usuario.apellido %></h3>
          <h3 class="tag">Correo: <%= usuario.correo %></h3>
          <h3 class="tag">Contraseña: **********</h3>
          <div class="buttons">
            <button class="edit-btn" onclick="togglePasswordForm()">Cambiar contraseña</button>
            <form
              action="/users/profile"
              method="post"
              class="logout-container"
            >
              <button class="logout-btn" type="submit">Cerrar sesión</button>
            </form>
          </div>
          <div id="passwordForm" style="display: none;">
            <form action="/users/change-password" method="POST">
              <div class="form-group">
                <label for="currentPassword">Contraseña actual</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
              </div>
              <div class="form-group">
                <label for="newPassword">Nueva contraseña</label>
                <input type="password" id="newPassword" name="newPassword" required>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
              </div>
              <button type="submit" class="edit-btn">Cambiar contraseña</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script>
      function togglePasswordForm() {
        const passwordForm = document.getElementById('passwordForm');
        if (passwordForm.style.display === 'none') {
          passwordForm.style.display = 'block';
        } else {
          passwordForm.style.display = 'none';
        }
      }
    </script>

    <%- include('../partials/footer') %>
    
  </body>
</html>
