<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('../partials/head') %>
  <body class="body-register">
    <div class="back-container">
      <a href="/" class="back-link">
        <i class="fa-solid fa-arrow-left-long"></i>
      </a>
    </div>

    <!-- Contenido principal -->
    <main class="register-main">
      <h1 class="register-title">Registro</h1>
      <div class="register-container">
        <form
          action="/users/register"
          method="POST"
          enctype="multipart/form-data"
          class="form-container"
        >
          <% if(locals.errores && errores.name){ %>
          <p class="errorText"><%= errores.name.msg %></p>
          <% } %>
          <input
            class="form-field"
            type="text"
            name="name"
            placeholder="Nombre/s"
            maxlength="40"
            value="<%= locals.old && old.name ? old.name : '' %>"
          />

          <% if(locals.errores && errores.lastName){ %>
          <p class="errorText"><%= errores.lastName.msg %></p>
          <% } %>
          <input
            class="form-field"
            type="text"
            name="lastName"
            placeholder="Apellido/s"
            maxlength="40"
            value="<%= locals.old && old.lastName ? old.lastName : '' %>"
          />

          <% if(locals.errores && errores.correo){ %>
          <p class="errorText"><%= errores.correo.msg %></p>
          <% } %>
          <input
            class="form-field"
            type="email"
            name="correo"
            placeholder="Correo electrónico"
            value="<%= locals.old && old.correo ? old.correo : '' %>"
          />

          <% if(locals.errores && errores.userImage){ %>
          <p class="errorText"><%= errores.userImage.msg %></p>
          <% } %>
          <input
            class="main-field"
            type="file"
            name="userImage"
            accept="image/*"
          />

          <legend class="info">Foto de perfil</legend>
          <% if(locals.errores && errores.password){ %>
          <p class="errorText"><%= errores.password.msg %></p>
          <% } %>
          <input
            class="main-field"
            type="password"
            name="password"
            placeholder="Contraseña"
            minlength="8"
            maxlength="32"
          />
          <legend class="info">Hasta 32 carácteres.</legend>

          <input
            class="form-field"
            type="password"
            name="repass"
            placeholder="Repita la contraseña"
            minlength="8"
            maxlength="32"
          />
          <button class="send-button" type="submit">Registrarme</button>
        </form>
        <div class="form-footer">
          <div class="text">
            <h2 class="question">
              ¿Ya tienes una cuenta?
              <a class="link" href="/users/login">Ingresa</a>
            </h2>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
